<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="index">

    {% include header.html %}
    {% include docs_header.html %}
    {% if page.title %}
      {% include banner.html %}
    {% endif %}

    {{ content }}
    

## 下载地址见文末

# 支持原创 
## 码文不易，希望支持，谢谢->**[支持原创]({{ support_page }}})**
![微信支付](https://raw.githubusercontent.com/923132714/my_picture/master/blog/support/weixin.png)![微信支付](https://raw.githubusercontent.com/923132714/my_picture/master/blog/support/支付宝.png)
## 再次感谢，大家对本人的支持。

    {% include footer.html %}

  </body>
</html>
